.blurred{
    transition: all 0.3s;
    &:hover{
        box-shadow: 0 0 10px cyan;
        background-color: darkcyan;
        color: black;
    }
}

.select2-selection{
    background-color: #a9bdbd!important;
}

.select2-results__option{
    &[aria-selected=true]{
        background-color: brown;
    }
    &--highlighted{
    background-color: darkcyan;
    }
}

.card-hover{
    transition: all 0.3s;
    &:hover{
        transform: scale(1.2);
        border: 1px solid cyan;
    }
}

.neon{
    transition: all 0.3s;
    &:hover{
        transform: scale(1.03);
        border: 1px solid cyan !important;
    }
    &:focus{
        border: 1px solid cyan !important;
    }
}

.dropdown-hover{
    &:hover>.dropdown-menu{
        display: block !important;
    }
}
    

